.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}

.profile__foto {
  /* filter: grayscale(); */
  width: 250px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  text-shadow:  2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-size: 4rem;
  color: var(--primary-color);
}
